---
layout: default
---

<div class="grid">
  {% for post in site.posts %}
    <div class="card">
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
      <div class="meta">
        {{ post.date | date: "%d/%m/%Y" }}
        {% if post.tags %} • {% for t in post.tags %}<span class="badge">{{ t }}</span>{% endfor %}{% endif %}
      </div>
      {% if post.excerpt %}
        <p class="excerpt">{{ post.excerpt | strip_html | truncate: 180 }}</p>
      {% endif %}
    </div>
  {% endfor %}

</div>

